*{
    font-family: arial,helvetica,sans-serif;
    margin: 0;
}
body{
    margin-top: 5%;
   display: flex;
   justify-content: center;
}
.nav-item{
    background-color: #006633;
    color: white;
    border: 0;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: 0.8px;
}
.nav-item-active{
    background-color: #eee;
    color: #006633;
    border: 1px solid #888;
    border-bottom: 0;   
}
.main-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration: underline;
}
.main-container h2 span{
    color: #006633;
}
.container{
    padding: 10px;
    background-color: #eee;
    border:1px solid #888;
    min-height: 300px;
}
.container table{
    text-align: left;
    row-gap: 20px;
    border-spacing: 20px 10px;
}
.container table tr input{
    padding: 8px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    width:95%;
}
.container table tr input:disabled{
    color: black;
}
.container table tr select{
    width:100%;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #666;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.result{
    text-align: center;
}
.result>p> b{
    color: red;
    font-weight: 700;
}